<div class="spot-show">
  <div class="spot-left">
    <%# <%= image_tag @spot.image.url, class: "spot-image" %> 
    <%= image_tag 'jiburi.png', class: "spot-image" %>
  </div>
  <div class="spot-right">
    <div class="spot-name">
      <%= @spot.name %>
    </div>
    <div class="spot-link">
      <%= link_to "投稿する", new_spot_post_path(@spot.id) %>
    </div>
  </div>
</div>

<div class="post-box">
  <% @spot.posts.each do |post| %>
    <div class="post">
      <%= link_to spot_post_path(post.spot.id, post.id) do %>
        <%= image_tag post.image.url, class: "post-image" %>
      <% end %>
      <div class="icons">
        <%= link_to user_path(post.user.id) do %>
        <h5><%= post.user.name %></h5>
        <% end %>
        <% if current_user.already_favorited?(post) %>
          <%= link_to spot_post_favorites_path(post.spot.id, post.id), method: :delete do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to spot_post_favorites_path(post.spot.id, post.id), method: :post do %>
            <i class="far fa-heart"></i>
          <% end %>
        <% end %>
        <p><%= post.favorites.count %></p>
        <i class="fas fa-comment fa-fw fa-lg "></i>
        <p><%= post.comments.count %></p>
      </div>
    </div>
  <% end %>
</div>