<div class="user-show">
  <div class="user-left">
    <% if @user.image? %>
      <%= image_tag @user.image.url, class: "user-image" %>
    <% else %>
      <%= image_tag 'noimage.png', class: "user-image" %>
    <% end %>
  </div>
  <div class="user-right">
    <div class="user-name">
      <%= @user.name %>
    </div>
    <div class="user-email">
      <% if @user.id == current_user.id %>
        <%= @user.email %>
      <% end %>
    </div>
    <div class="user-text">
      <%= @user.text %>
    </div>
    <div class="user-edit">
      <% if @user.id == current_user.id %>
        <%= link_to "編集", edit_user_path(@user) %>
      <% end %>
    </div>
  </div>
</div>