<div class="contents row">
  <div class="container">
    <h2 class>編集</h2>

    <%= form_with(model:[@spot, @post]) do |form| %>
      <div class="field">
        <%= form.text_field :title %>
      </div>

      <div class="field">
        <%= form.file_field :image %>
      </div>

      <div class="field">
        <%= form.text_field :text %>
      </div>

      <div class="actions">
        <%= form.submit "更新" %>
      </div>
    <% end %>
  </div>
</div>
